# Run Php without filename extension

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

#Return 404 if Original request is .php

#RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
#RewriteRule .* - [L,R=404]